.HomePageWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.formWrapper{
  background: rgb(38, 38, 41);
  padding:2%;
  border-radius: 10%;
  width: 30%;
  max-width: 90%;
}

footer{
  position: fixed;
  margin-left: 0;
  bottom: 0;
}
footer>h1{
  opacity: 0.05;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}

.HomeLogo{
  height:80%;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius:5px ;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:all 0 3s ease-in-out;
}

.JoinBtn{
  background: #4aedBB;
  width:100px;
  margin-left: auto;
}
.JoinBtn:hover{
  background: #3eb994;
}
.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #3eb994;
  text-decoration: none;
  font-size: larger;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover{
  color: #4aedBB;
}

.createNewBtn:active{
  color: #1b5846;
}






.mainWrap{
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside{
  background: #393946;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* width: 40vh; */
  /* height: 96vh; */
}

.asideInner{
  flex:1;
}

.client_List{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.Client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.logoImage{
  height: 70px;
}

.Leave_btn{
  margin-top: 20px;
  background: #4aedBB;
}

.Leave_btn:hover{
  background: #5eaa93;
}

.Leave_btn:active{
  background: #386457;
}
.copyBtn:hover{
  background: #b3b3b4;
}

.copyBtn:active{
  background: #727274;
}






/* Codemirror */

.Editor{
  height: 100vh;
}


.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
